<!-- 		<ul>
		  {% for post in site.posts %}
		    <li>
		      <a href="{{ post.url }}">{{ post.title }}</a>
		      {{ post.excerpt }}
		    </li>
		  {% endfor %}
		</ul> -->
		{% for post in site.posts %}
			<!-- {{ content }} -->
			<a href="{{ post.url }}">{{ post.title }}</a>
			{{ post.content }}
		{% endfor %}