{% include head.html %}
    <div class="wrapper">
      <nav>      
        {% include sidebar.html %}
      </nav>
      <section>
        {% include posts.html %}
      </section>
{% include footer.html %}