{% include head.html %}
    <div class="wrapper">
      <nav>      
        {% include sidebar.html %}
      </nav>
      <section>
        {{ content }}
      </section>
      <a href="{{ page.next }}">{{ page.next }}</a>
{% include footer.html %}